/* HISTORY - SECTION */
#history{
    min-height: 300px;
}
.history-container{
    text-align: center;
    max-width: 768px;
    color: var(--PRIMARY-TXT-COLOR);
    padding: 32px 24px;
}
.history-container h1{
    font-size: 3rem;
    margin-bottom: 60px;
}
.history-container p{
    text-align: justify;
    text-indent: 32px;
}

/* PROFILE - SECTION */
.img-text-container, .text-img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 32px 24px;
    gap: 32px;
    flex-wrap: wrap;
}

.img-container img{
    width: 100%;
    height: auto;
    max-height: 500px;
    border-radius: 12px;
    box-shadow: 0 4px 12px var(--SHADOW-COLOR);
    object-fit: cover;
}

.text-container{
    max-width: 768px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 24px;
    color: var(--PRIMARY-TXT-COLOR);
}

.text-container h2{
    font-size: 2rem;
}

.text-container p{
    font-size: 1.1rem;
    text-align: justify;
    text-indent: 32px;
}

/* CONTACTS - SECTION */
.contacts-container{
    width: 100%;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.map{
    width: 100%;
    max-width: 768px;
    height: 500px;
    z-index: 1; 
}

.contact-info{
    width: 100%;
    max-width: 768px;
    text-align: center;
    color: var(--PRIMARY-TXT-COLOR);
    font-weight: bold;
}
.contact-info p{
    margin: 1rem 0;
}
.contact-info p a{
    font-size: 0.9rem;
}
.schedule-container{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.schedule{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 1rem;
}
.day {
    text-align: right;
}

.time {
    text-align: left;
    font-size: 0.9rem;
}

.social-container{
    margin-top: 48px;
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 100%;
    font-size: 2rem;
}

.contact-info a{
    color: var(--PRIMARY-TXT-COLOR);
}
.contact-info a:hover{
    color: var(--SECONDARY-TXT-COLOR);
}



/* FAQ - SECTION */
.faq-container {
    width: 100%;
    max-width: 768px;
    padding: 32px 24px;
}

.faq-container h3 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 32px;
    font-weight: bold;
    color: var(--PRIMARY-TXT-COLOR);
}

.faq-item {
  border: 1px solid var(--PRIMARY-BORDER-COLOR);
  border-radius: 12px;
  margin-bottom: 12px;
  overflow: hidden;
  background: var(--SECONDARY-BG-COLOR);
  box-shadow: 0 2px 6px var(--SHADOW-COLOR);
  transition: all 0.3s ease;
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;
  cursor: pointer;
  font-weight: bold;
  color: var(--PRIMARY-TXT-COLOR);
  transition: background 0.3s;
}

.faq-question:hover, .faq-question:hover > i{
  background-color: var(--TERTIARY-BG-COLOR);
  color: var(--SECONDARY-TXT-COLOR);
}

.faq-question i {
  color: var(--PRIMARY-TXT-COLOR);
  transition: transform 0.3s ease;
}

.faq-answer {
  padding: 0 24px 16px;
  font-size: 0.9rem;
  line-height: 1.5;
  color: var(--PRIMARY-TXT-COLOR);
  display: none;
}

.faq-item.open > .faq-answer{
    display: block;
} 

.faq-answer a {
  text-decoration: none;
  font-weight: bold;
  color: var(--PRIMARY-TXT-COLOR);
}

.faq-answer a:hover {
  text-decoration: underline;
}


@media (min-width: 768px) {
    /* PROFILE - SECTION */
    .img-text-container{
        flex-direction: row;
        flex-wrap: nowrap;
        max-width: 1200px;
    }
    .text-img-container{
        flex-direction: row-reverse;
        flex-wrap: nowrap;
        max-width: 1200px;
    }
    .img-container img{
        height: 100%;
        width: auto;
    }

    /* CONTACTS - SECTION */
    .contacts-container{
        flex-direction: row;
        width: 100%;
        max-width: 1200px;
        padding: 32px 24px;
    }

    .map{
        border-radius: 16px;
        border: 2px solid var(--PRIMARY-BORDER-COLOR);
        width: 60%;
    }

    .contact-info{
        width: 40%;
    }



}