.display-content{
    width: 100%;
    height: 100%;
}

.home-container{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
    padding: 32px 24px;
}

.selector-btn{
    flex: 1 1 250px;
    max-width: 250px;
    /* height: 250px; */
    background-color: var(--SECONDARY-BG-COLOR);
    border-radius: 24px;
    border: 2px solid var(--PRIMARY-BORDER-COLOR);
    padding: 16px;
    text-align: center;
    align-items: center;
    transition: tramsform 0.2s;
    cursor: pointer;
}
.return-btn{
    position: fixed;
    bottom: 24px;
    right: 24px;
    z-index: 99;
}

.selector-btn:hover{
    transform: translateY(-5px);
    box-shadow: 0 5px 8px var(--SHADOW-COLOR);
}

.selector-btn h3, .return-btn h3{
    color: var(--PRIMARY-TXT-COLOR);
}