.title-container, .order-summary, .custumer-details{
    display:  flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 768px;
    margin: auto;
}
.title-container{
    color: var(--PRIMARY-TXT-COLOR);
    background: var(--TERTIARY-BG-COLOR);
    padding: 12px;
}

.order-container {
    width: 100%;
    list-style: none;
    margin: 0;
    color: var(--PRIMARY-TXT-COLOR);
    /* border-top: 1px solid var(--TERTIARY-BG-COLOR); */
}

.order-product{
    display: flex;
    gap: 12px;
    padding: 24px;
    border-bottom: 1px solid var(--TERTIARY-BG-COLOR);
    color: var(--PRIMARY-TXT-COLOR);
    align-items: center;
    min-height: 100px;
}

.order-product-img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 12px;
    flex-shrink: 0;
}

.order-product-info {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.order-product-actions {
    display: flex;
    gap: 6px;
    justify-content: flex-end;
}

.order-product-actions button {
    width: 32px;
    height: 32px;
    text-align: center;
    border: none;
    background: var(--PRIMARY-BTN-COLOR);
    color: var(--TERTIARY-TXT-COLOR);
    font-weight: bold;
    transition: background-color 0.8s ease;
    border-radius: 50%;
    cursor: pointer;
}

.order-product-actions button:hover {
    background-color: var(--SECONDARY-BTN-COLOR);
    color: var(--PRIMARY-TXT-COLOR);
}

.order-product-name {
    font-size: 0.9rem;
    font-weight: bold;
    padding: 4px 0;
}

.order-product-total {
    font-size: 0.9rem;
    font-weight: bold;
    padding: 4px 0;
}

.order-product-price-qty {
    font-size: 0.8rem;
    font-weight: normal;
}

.pay-summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 0.9rem;
    color: var(--PRIMARY-TXT-COLOR);
    background: var(--TERTIARY-BG-COLOR);
    padding: 12px;
    width: 100%;
}

.order-total {
    font-size: 1.1rem;
}


.form-container{
    width: 100%;
    color: var(--PRIMARY-TXT-COLOR);
}

.form-container h2{
    font-size: 2rem;
    text-align: center;
    padding: 16px;
}

.form-container form{
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 24px;
}

.field{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 12px;  
}

.field label, .field legend{
    font-weight: bold;
    font-size: 0.9rem;
}

.field input{
    flex: 1;
    width: 90%;
    padding: 8px;
    border: 1px solid var(--PRIMARY-BORDER-COLOR);
    border-radius: 8px;
    background-color: var(--PRIMARY-BG-COLOR);
}
.field input:focus{
    outline: 1px solid var(--PRIMARY-BORDER-COLOR);
}

.form-disclaimer{
    text-align: left;
    font-size: 0.7rem;
    font-weight: bold;
}

.form-disclaimer::before, .field-container.required > .field > label::after{
    content: "*";
    color: red;
    font-size: 1.1rem;
}

.error{
    display: none;
    color: red;
    font-size: 0.8rem;
    font-weight: bold;
    text-align: center;
    padding-top: 3px;
}

.field-container.invalid .error{
    display: block;
}

.form-container button{
    background-color: var(--PRIMARY-BTN-COLOR);
    color: var(--TERTIARY-TXT-COLOR);
    border: none;
    border-radius: 12px;
    padding: 12px 24px;
    font-weight: bold;
    transition: background-color 0.8s ease;
    letter-spacing: 1px;
    cursor: pointer;
}
.form-container button:hover{
    background-color: var(--SECONDARY-BTN-COLOR);
    color: var(--PRIMARY-TXT-COLOR);
}


.validSub{
    color: blue;
    font-size: 0.8rem;
    font-weight: bold;
    text-align: center;
}

/* POPUP */
.popup{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: red;
    padding: 15px 25px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.4);
    z-index: 999;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
}

/* .success{
    background-color: green;
} */






@media (min-width: 768px) {
    .order-container {
        border-left: 2px solid var(--TERTIARY-BG-COLOR);
        border-right: 2px solid var(--TERTIARY-BG-COLOR);
        border-top: 2px solid var(--TERTIARY-BG-COLOR);
        margin-top: 24px;
    }

    .order-product-actions {
      gap: 0;
    }

    .order-product-actions button{
      scale: 0.8;
    }

    .form-container{
        border: 2px solid var(--TERTIARY-BG-COLOR);
        margin-bottom: 24px;
    }
    .field{
        flex-direction: row;
    }

    .field input{
        max-width: 70%;
    }
    
    .error{
        text-align: right;
    }
}