.sub-menu-container{
	display: flex;
	flex-direction: column;
}
.search-box{
	display: none;
	width: 100%;
	padding: 4px 8px;
	gap: 4px;
}

.search-box input, .search-box button{
	padding: 8px;
	background-color: var(--PRIMARY-BG-COLOR);
	border-radius: 4px;
	border: 1px solid var(--PRIMARY-BORDER-COLOR);
	color: var(--PRIMARY-TXT-COLOR);
}

.search-box input{
	flex: 1;
}
.search-box input:focus, .search-box button:hover{
	outline: 1px solid var(--PRIMARY-BORDER-COLOR);
}


.sub-menu-container select{
	width: 100%;
	border-radius: 0;
	padding: 8px;
	border: 1px solid var(--PRIMARY-BORDER-COLOR);
	background-color: var(--SECONDARY-BG-COLOR);
	text-align: center;
	color: var(--PRIMARY-TXT-COLOR);
	font-weight: bold;
	font-size: 1.5rem;
	cursor: pointer;
}

.sub-menu-container option{
	font-size: 1rem;
	background-color: var(--TERTIARY-BG-COLOR);
}

/* MODAL */
.modal{
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: #000000cc;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.modal-content{
	position: relative;
	background-color: var(--PRIMARY-BG-COLOR);
	width: 100%;
	max-width: 768px;
	padding: 32px 24px;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: var(--PRIMARY-TXT-COLOR);
    border-radius: 12px;
}

.modal-content span{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1rem;
    height: 1rem;
    position: absolute;
    top: 12px;
    right: 12px;
    font-size: 2rem;
    cursor: pointer;
}

.modal-content span:hover{
    color: #f00;
}

.modal-content .field-container{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.modal-content .field{
    display: flex;
	justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
}

.modal-content label{
    font-size: 0.9rem;
}

.modal-content input{
	width: 70%;
    padding: 8px;
    border: 1px solid var(--PRIMARY-BORDER-COLOR);
    border-radius: 8px;
}

.modal-content input:focus{
    outline: 1px solid var(--PRIMARY-BORDER-COLOR);
}

.modal-content button{  
    background-color: var(--PRIMARY-BTN-COLOR);
    color: var(--TERTIARY-TXT-COLOR);
    border: none;
    border-radius: 12px;
    padding: 12px 24px;
    font-weight: bold;
    transition: background-color 0.8s ease;
    letter-spacing: 1px;
    cursor: pointer;
}

.modal-content button:hover{
    background-color: var(--SECONDARY-BTN-COLOR);
    color: var(--PRIMARY-TXT-COLOR);
}

.modal-content .error{
    display: block;
    color: red;
    font-size: 0.8rem;
    font-weight: bold;
    text-align: center;
}

























/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
.applications-container{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 32px;
	padding: 32px 24px;
}

.application-container{
  	width: 100%;
  	max-width: 768px;
  	color: var(--PRIMARY-TXT-COLOR);
  	overflow: hidden;
  	transition: all 0.3s ease;
}

.application-title{
	display: flex;
	justify-content: space-between;
	padding: 12px 24px;
	background-color: var(--SECONDARY-BG-COLOR);
	border-radius: 12px 12px 0 0;
	cursor: pointer;
	border-bottom: 2px double var(--PRIMARY-BG-COLOR);
	position: relative;
}

.application-arrow{
	position: absolute;
	width: 32px;
	height: 32px;
	bottom: -16px;
	left: 50%;
	background-color: var(--SECONDARY-BG-COLOR);
	border-radius: 50%;
	transform: translateX(-50%);

}

.application-arrow i{
	width: 100%;
	height: 100%; 
	text-align: center;
	line-height: 32px;
	transition: transform 0.3s ease;
}

.application-title:hover, .application-title:hover > .application-arrow{
	background-color: var(--TERTIARY-BG-COLOR);
	color: var(--SECONDARY-TXT-COLOR);
}

.application-title p{
	font-size: 0.8rem;
	font-weight: bold;
}

.application-status{
	margin: auto 0;
	font-size: 1.1rem;
	font-weight: bold;
}

.application-status p{
	font-size: 1.1rem;
	font-weight: bold;
}

.pending{
	color: var(--CUSTOM_YELLOW);
}

.accepted{
	color: var(--CUSTOM_GREEN);
}

.rejected{
	color: var(--CUSTOM_RED);
}

.application-data{
	display: none;
	flex-direction: column;
	padding: 16px 12px 8px 12px;
	box-shadow: inset 2px 0 var(--SECONDARY-BG-COLOR), inset -2px 0 var(--SECONDARY-BG-COLOR);
	overflow: hidden;
}

.data-container{
	display: flex;
	gap: 4px;
	padding: 4px 0;
	font-size: 0.9rem;
}

.data-container span{
	width: 120px;
	font-weight: bold;
	flex-shrink: 0;
}

.data-container p{
	text-align: justify;
	margin: auto 0;
}

.data-container .details{
	align-items: normal;
}

.application-container.open > .application-data{
	display: flex;
}

.application-container.open > .application-title{
	border-bottom: none;
}

.application-container.open .application-arrow i {
  	transform: rotate(180deg);
}

.application-btns{
	background-color: var(--SECONDARY-BG-COLOR);
	border-radius: 0 0 12px 12px;
	display: flex;
	width: 100%;
	height: 48px;
	overflow: hidden;
}

.application-btns button{
	width: 100%;
	background: none;
	border: none;
	cursor: pointer; 
	font-size: 1.1rem;
	font-weight: bold;
	color: var(--PRIMARY-TXT-COLOR);
}

.application-btns button:hover{
	background-color: var(--SECONDARY-BTN-COLOR);
	color: var(--SECONDARY-TXT-COLOR);
}

@media (min-width: 768px) {
	.data-container span{
		width: 150px;
	}
	
	.application-data{
		padding: 16px 24px 8px 24px;
	}
}
