.applications-container{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 32px;
	padding: 32px 24px;
}

.application-container{
  	width: 100%;
  	max-width: 768px;
  	color: var(--PRIMARY-TXT-COLOR);
  	overflow: hidden;
  	transition: all 0.3s ease;
}

.application-title{
	display: flex;
	justify-content: space-between;
	padding: 12px 24px;
	background-color: var(--SECONDARY-BG-COLOR);
	border-radius: 12px 12px 0 0;
	cursor: pointer;
	border-bottom: 2px double var(--PRIMARY-BG-COLOR);
	position: relative;
}

.application-arrow{
	position: absolute;
	width: 32px;
	height: 32px;
	bottom: -16px;
	left: 50%;
	background-color: var(--SECONDARY-BG-COLOR);
	border-radius: 50%;
	transform: translateX(-50%);

}

.application-arrow i{
	width: 100%;
	height: 100%; 
	text-align: center;
	line-height: 32px;
	transition: transform 0.3s ease;
}

.application-title:hover, .application-title:hover > .application-arrow{
	background-color: var(--TERTIARY-BG-COLOR);
	color: var(--SECONDARY-TXT-COLOR);
}

.application-title p{
	font-size: 0.8rem;
	font-weight: bold;
}

.application-status{
	margin: auto 0;
	font-size: 1.1rem;
	font-weight: bold;
}

.application-status p{
	font-size: 1.1rem;
	font-weight: bold;
}

.pending{
	color: var(--CUSTOM_YELLOW);
}

.accepted{
	color: var(--CUSTOM_GREEN);
}

.rejected{
	color: var(--CUSTOM_RED);
}

.application-data{
	display: none;
	flex-direction: column;
	padding: 16px 12px 8px 12px;
	box-shadow: inset 2px 0 var(--SECONDARY-BG-COLOR), inset -2px 0 var(--SECONDARY-BG-COLOR);
	overflow: hidden;
}

.data-container{
	display: flex;
	gap: 4px;
	padding: 4px 0;
	font-size: 0.9rem;
}

.data-container span{
	width: 120px;
	font-weight: bold;
	flex-shrink: 0;
}

.data-container p{
	text-align: justify;
	margin: auto 0;
}

.data-container .details{
	align-items: normal;
}

.application-container.open > .application-data{
	display: flex;
}

.application-container.open > .application-title{
	border-bottom: none;
}

.application-container.open .application-arrow i {
  	transform: rotate(180deg);
}

.application-btns{
	background-color: var(--SECONDARY-BG-COLOR);
	border-radius: 0 0 12px 12px;
	display: flex;
	width: 100%;
	height: 48px;
	overflow: hidden;
}

.application-btns button{
	width: 100%;
	background: none;
	border: none;
	cursor: pointer; 
	font-size: 1.1rem;
	font-weight: bold;
	color: var(--PRIMARY-TXT-COLOR);
}

.application-btns button:hover{
	background-color: var(--SECONDARY-BTN-COLOR);
	color: var(--SECONDARY-TXT-COLOR);
}

@media (min-width: 768px) {
	.data-container span{
		width: 150px;
	}
	
	.application-data{
		padding: 16px 24px 8px 24px;
	}
}
