/* HERO - SECTION */
#hero{
    background-image: url("../imgs/content/hero2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* color: var(--PRIMARY-TXT-COLOR); */
    /* text-shadow: 0 0 3px var(--PRIMARY-BG-COLOR); */
    color: #FFF;
    font-weight: bold;
    text-align: center;
    font-style: italic;
}

/* JOIN - SECTION */
.img-text-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 32px 24px;
    gap: 32px;
    flex-wrap: wrap;
}

.img-container img{
    width: 100%;
    max-width: 768px;
    height: auto;
    border-radius: 12px;
    box-shadow: 0 4px 12px var(--SHADOW-COLOR);
}

.text-container{
    max-width: 768px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    color: var(--PRIMARY-TXT-COLOR);
}

.text-container h2{
    font-size: 2rem;
}

.text-container p{
    font-size: 1.1rem;
    text-align: justify;
    text-indent: 32px;
}

.text-container a{
    padding: 12px 24px;
    /* font-size: 1rem; */
    font-weight: bold;
    border-radius: 12px;
    background-color: var(--PRIMARY-BTN-COLOR);
    color: var(--TERTIARY-TXT-COLOR);
    transition: background-color 0.8s ease;
}

.text-container a:hover{
    background-color: var(--SECONDARY-BTN-COLOR);
    color: var(--PRIMARY-TXT-COLOR);
}

/* PLANS - SECTION */

.plans-container{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
    padding: 32px 24px;
}

.plan-container{
    flex: 1 1 250px;
    max-width: 250px;
    background-color: var(--SECONDARY-BG-COLOR);
    border-radius: 12px;
    border: 2px solid var(--PRIMARY_BORDER-COLOR);
    padding: 16px;
    text-align: center;
    transition: tramsform 0.2s;
}

.plan-container:hover{
    transform: translateY(-5px);
    box-shadow: 0 5px 8px var(--SHADOW-COLOR);
}

.plan-container img{
    width: 100%;
    height: auto;
    margin-bottom: 12px;
    border-radius: 8px;
}

.plan-container h3{
    color: var(--PRIMARY-TXT-COLOR);
}

/* VIDEO - SECTION */
.video-container{
    width: 100%;
    max-width: 768px;
    aspect-ratio: 16 / 9;
    position: relative;
    overflow: hidden;
    box-shadow: 0 4px 12px var(--SHADOW-COLOR);
}

.video-container iframe {
  position: absolute;
  border: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}