.orders-container{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 32px;
	padding: 32px 24px;
}

.order-container{
  	width: 100%;
  	max-width: 768px;
  	color: var(--PRIMARY-TXT-COLOR);
  	overflow: hidden;
  	transition: all 0.3s ease;
}

.order-title{
	display: flex;
	justify-content: space-between;
	padding: 12px 24px;
	background-color: var(--SECONDARY-BG-COLOR);
	border-radius: 12px 12px 0 0;
	cursor: pointer;
	border-bottom: 2px double var(--PRIMARY-BG-COLOR);
	position: relative;
}

.order-arrow{
	position: absolute;
	width: 32px;
	height: 32px;
	bottom: -16px;
	left: 50%;
	background-color: var(--SECONDARY-BG-COLOR);
	border-radius: 50%;
	transform: translateX(-50%);
}

.order-arrow i{
	width: 100%;
	height: 100%; 
	text-align: center;
	line-height: 32px;
	transition: transform 0.3s ease;
}

.order-title:hover, .order-title:hover > .order-arrow{
	background-color: var(--TERTIARY-BG-COLOR);
	color: var(--SECONDARY-TXT-COLOR);
}

.order-info{
    font-weight: bold;
}

.order-title .left p{
	font-size: 0.8rem;
}

.order-title .right{
	text-align: right;
}

.pending{
	color: #F4A300;
}

.accepted, .dispatched, .received{
	color: #3BA55C;
}

.rejected, .canceled{
	color: #D64545;
}

.order-products{
	display: none;
	flex-direction: column;
	box-shadow: inset 2px 0 var(--SECONDARY-BG-COLOR), inset -2px 0 var(--SECONDARY-BG-COLOR);
	overflow: hidden;
    list-style: none;
}

.order-product{
    display: flex;
    gap: 12px;
    padding: 24px;
    border-bottom: 1px solid var(--TERTIARY-BG-COLOR);
    color: var(--PRIMARY-TXT-COLOR);
    align-items: center;
    min-height: 100px;
}

.order-product-img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 12px;
    flex-shrink: 0;
}

.order-product-info {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.order-product-name {
    font-size: 0.9rem;
    font-weight: bold;
    padding: 4px 0;
}

.order-product-total {
    font-size: 0.9rem;
    font-weight: bold;
    padding: 4px 0;
}

.order-product-price-qty {
    font-size: 0.8rem;
    font-weight: normal;
}

.order-container.open > .order-products{
	display: flex;
}

.order-container.open > .order-title{
	border-bottom: none;
}

.order-container.open .order-arrow i {
  transform: rotate(180deg);
}

.order-btns{
	background-color: var(--SECONDARY-BG-COLOR);
	border-radius: 0 0 12px 12px;
	display: flex;
	width: 100%;
	height: 48px;
    overflow: hidden;
}

.order-btns button{
	width: 100%;
	background: none;
	border: none;
	cursor: pointer; 
	font-size: 1.1rem;
	font-weight: bold;
	color: var(--PRIMARY-TXT-COLOR);
    
}

.order-btns button:hover{
	background-color: var(--SECONDARY-BTN-COLOR);
	color: var(--SECONDARY-TXT-COLOR);
}