/* INFO - SECTION */
#info{
    min-height: 300px;
}

.info-container{
    text-align: center;
    max-width: 768px;
    color: var(--PRIMARY-TXT-COLOR);
    padding: 32px 24px;
}

.info-container h1{
    font-size: 3rem;
    margin-bottom: 60px;
}

.info-container p{
    text-align: justify;
    line-height: 1.5;
}

/* PLANS - SECTION */
.plan-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 32px 24px;
    gap: 32px;
    flex-wrap: wrap;
    width: 100%;
    max-width: 576px;
}

.plan-img-container img{
    width: 100%;
    height: auto;
    border-radius: 12px;
    box-shadow: 0 4px 12px var(--SHADOW-COLOR);
}

.plan-description{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    color: var(--PRIMARY-TXT-COLOR);
    text-align: center;
    font-size: 1.1rem;
}
    
.plan-description li{
    text-align: left;
    font-size: 1rem;
    padding-bottom: 5px;
}

.no-bold-small {
    font-weight: normal;
    font-size: 0.7rem;
}

.disclaimer{
    font-size: 0.7em;
}

.btn-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.plan-description button{
    width: 100%;
    background-color: var(--PRIMARY-BTN-COLOR);
    color: var(--TERTIARY-TXT-COLOR);
    border: none;
    border-radius: 12px;
    padding: 12px 24px;
    font-weight: bold;
    transition: background-color 0.8s ease;
    letter-spacing: 1px;
    cursor: pointer;
}

.plan-description button:hover{
    background-color: var(--SECONDARY-BTN-COLOR);
    color: var(--PRIMARY-TXT-COLOR);
}

/* FORM - SECTION */
.form-container{
    width: 100%;
    max-width: 576px;
    margin: 48px auto 48px auto;
    background-color: var(--TERTIARY-BG-COLOR);
    border-radius: 12px;
    box-shadow: 0 0 10px var(--SHADOW-COLOR);
    color: var(--PRIMARY-TXT-COLOR);
}

.form-container h2{
    font-size: 2.5rem;
    text-align: center;
    background-color: var(--SECONDARY-BG-COLOR);
    border-radius: 12px 12px 0 0;
    padding: 16px;
}

.form-container form{
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 24px;
}

.field{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 12px;  
}

.field label, .field legend{
    font-weight: bold;
    font-size: 0.9rem;
}

.field input, .field select, .health-field textarea{
    flex: 1;
    width: 90%;
    padding: 8px;
    border: 1px solid var(--PRIMARY-BORDER-COLOR);
    border-radius: 8px;
    background-color: var(--PRIMARY-BG-COLOR);
}

.field input:focus:not([name="gender"]):not(#nutrition-plan), .health-field textarea:focus{
    outline: 1px solid var(--PRIMARY-BORDER-COLOR);
}

.form-disclaimer{
    text-align: left;
    font-size: 0.7rem;
    font-weight: bold;
}

.form-disclaimer::before, .field-container.required > .field > label::after, .field-container.required > .field > legend::after, .field-container.required > .checkbox-field > label::after{
    content: "*";
    color: var(--ERROR);
    font-size: 1.1rem;
}

.field-container.invalid .error{
    display: block;
}

.form-container button{
    background-color: var(--PRIMARY-BTN-COLOR);
    color: var(--TERTIARY-TXT-COLOR);
    border: none;
    border-radius: 12px;
    padding: 12px 24px;
    font-weight: bold;
    transition: background-color 0.8s ease;
    letter-spacing: 1px;
    cursor: pointer;
}

.form-container button:hover{
    background-color: var(--SECONDARY-BTN-COLOR);
    color: var(--PRIMARY-TXT-COLOR);
}

/* FORM - GENDER */
.gender-container{
    display: flex;
    gap: 32px;
}

.gender-field{
    display: flex;
    align-items: center;
}

.gender-container label{
    cursor: pointer;
    padding-left: 8px;
}

/* FORM - NUTRITION */
.checkbox-field{
    text-align: center;
}

/* FORM - HEALTH */
.health-field textarea{
    width: 100%;
    display: none;
    margin-top: 16px;
}

.health-field:has(#health-issues:checked) textarea {
    display: block;
}

/* FORM - TERMS */
.field-container a{
    font-weight: bold;
    color: var(--PRIMARY-TXT-COLOR);
}

.connect{
    width: 100%;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.connect a{
    background-color: var(--PRIMARY-BTN-COLOR);
    color: var(--TERTIARY-TXT-COLOR);
    border-radius: 12px;
    padding: 12px 24px;
    font-weight: bold;
    transition: background-color 0.8s ease;
    letter-spacing: 1px;
}

.connect a:hover{
    background-color: var(--SECONDARY-BTN-COLOR);
    color: var(--PRIMARY-TXT-COLOR);
}

.form-unavailable{
    width: 100%;
    padding: 24px 36px;
}

.form-unavailable h3{
    text-align: center;
}


@media (min-width: 768px) {
    /* PLANS - SECTION */
    .plan-container{
        flex-direction: row;
        flex-wrap: nowrap;
        max-width: 1200px;
    }

    .plan-img-container{
        width: 40%;
    }

    .plan-description{
        width: 60%;
    }

    .btn-container{
        flex-direction: row;
        justify-content: center;
    }

    .plan-description button{
        width: auto;
    }

    .form-container button{
        width: auto;
        margin: auto;
    }

    /* FORM - SECTION */
    .form-container{
        max-width: 768px;
    }

    .field{
        flex-direction: row;
    }

    .field input, .field select{
        max-width: 70%;
    }
    
    .error{
        text-align: right;
    }
}