.profile-container{
	width: 100%;
    max-width: 768px;
	padding: 32px 24px; 
    margin: auto;
    color: var(--PRIMARY-TXT-COLOR);
}

.profile-header{
    width: 100%;
    background-color: var(--SECONDARY-BG-COLOR);
    padding: 12px 24px;
    border-radius: 12px 12px 0 0;
}

.username-container{
    display: flex;
    gap: 8px;

}
.username-container .field{
    flex: 0;
    width: auto;
}

.username-container .value{
    font-weight: bold;
    font-size: 1.5rem;
}

.username-container .field input{
    font-size: 1.5rem;
    font-weight: bold;
}
.role{
    font-weight: bold;
    font-size: 0.9rem;
    padding-left: 8px;
}



.profile-body{
    width: 100%;
    border: 2px solid var(--SECONDARY-BG-COLOR);
    border-radius: 0 0 12px 12px;
    padding: 8px 12px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.field{
    display: flex;
    flex: 1;
    gap: 4px;
    cursor: pointer;
}

.field label{
    font-weight: bold;
}
.field input, .field textarea, .field select{
    flex: 1;
    font-size: 1rem;
    background: none;
    border: none;
    outline: none;
    color: var(--PRIMARY-TXT-COLOR);
}

.editable .field.notSaved label::after{
    content: "*";
    color: red;
    font-size: 1.1rem;
}

.error{
    display: block;
    color: red;
    font-size: 0.8rem;
    font-weight: bold;
    text-align: right;
}

.modal{
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: #000000cc;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.modal-content{
    position: relative;
    background-color: var(--PRIMARY-BG-COLOR);
    width: 100%;
    max-width: 768px;
	padding: 32px 24px;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: var(--PRIMARY-TXT-COLOR);
    border-radius: 12px;
}

.modal-content span{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1rem;
    height: 1rem;
    position: absolute;
    top: 12px;
    right: 12px;
    font-size: 2rem;
    cursor: pointer;
}

.modal-content span:hover{
    color: #f00;
}

.modal-content .field-container{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.modal-content .field{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 350px;
    margin: auto;
}

.modal-content label{
    font-size: 0.9rem;
}

.modal-content input{
    padding: 8px;
    border: 1px solid var(--PRIMARY-BORDER-COLOR);
    border-radius: 8px;
}

.modal-content input:focus{
    outline: 1px solid var(--PRIMARY-BORDER-COLOR);
}

.modal-content .error{
    text-align: center;
}

.modal-content button{  
    background-color: var(--PRIMARY-BTN-COLOR);
    color: var(--TERTIARY-TXT-COLOR);
    border: none;
    border-radius: 12px;
    padding: 12px 24px;
    font-weight: bold;
    transition: background-color 0.8s ease;
    letter-spacing: 1px;
    cursor: pointer;
}
.modal-content button:hover{
    background-color: var(--SECONDARY-BTN-COLOR);
    color: var(--PRIMARY-TXT-COLOR);
}
