.profile-container{
	width: 100%;
    max-width: 768px;
	padding: 32px 24px; 
    margin: auto;
    color: var(--PRIMARY-TXT-COLOR);
}

.profile-header{
    width: 100%;
    background-color: var(--SECONDARY-BG-COLOR);
    padding: 12px 24px;
    border-radius: 12px 12px 0 0;
}

.username-container{
    display: flex;
    gap: 8px;

}
.username-container .field{
    flex: 0;
    width: auto;
}

.username-container .value{
    font-weight: bold;
    font-size: 1.5rem;
}

.username-container .field input{
    font-size: 1.5rem;
    font-weight: bold;
}
.role{
    font-weight: bold;
    font-size: 0.9rem;
    padding-left: 8px;
}



.profile-body{
    width: 100%;
    border: 2px solid var(--SECONDARY-BG-COLOR);
    border-radius: 0 0 12px 12px;
    padding: 8px 12px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.field{
    display: flex;
    flex: 1;
    gap: 4px;
    cursor: pointer;
}

.field label{
    font-weight: bold;
}
.field input, .field textarea, .field select{
    flex: 1;
    font-size: 1rem;
    background: none;
    border: none;
    outline: none;
    color: var(--PRIMARY-TXT-COLOR);
}










.editable .field.notSaved label::after{
    content: "*";
    color: red;
    font-size: 1.1rem;
}


.error{
    display: block;
    color: red;
    font-size: 0.8rem;
    font-weight: bold;
    text-align: right;
}
/* .editable.invalid .error{
    display: block;
} */