.shopping-cart{
    display: none;
    flex-direction: column;
    /* border: 1px solid var(--PRIMARY-BORDER-COLOR); */
    /* background: var(--PRIMARY-BG-COLOR); */
    height: 100vh;
    max-height: calc(100vh - 80px);
}

.cart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 12px;
    background: var(--TERTIARY-BG-COLOR);
    /* border-bottom: 3px solid #ddd; */
    color: var(--PRIMARY-TXT-COLOR);
}

#close-cart{
    font-size: 2rem;
    cursor: pointer;
}
#close-cart:hover{
    color: red;
}

.cart-container {
    flex: 1;
    overflow-y: auto;
    /* padding: 10px; */
    list-style: none;
    margin: 0;
      /* text-align: center; */
}

.cart-container .connect-warn{
  color: var(--PRIMARY-TXT-COLOR);
  padding-top: 24px;
  text-align: center;
}

.cart-container .connect{
  width: 100%;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.cart-container .connect a{
    background-color: var(--PRIMARY-BTN-COLOR);
    color: var(--TERTIARY-TXT-COLOR);
    border-radius: 12px;
    padding: 12px 24px;
    font-weight: bold;
    transition: background-color 0.8s ease;
    letter-spacing: 1px;
}
.cart-container .connect a:hover{
    background-color: var(--SECONDARY-BTN-COLOR);
    color: var(--PRIMARY-TXT-COLOR);
}

.pay-container {
  padding: 12px;
  /* border-top: 1px solid #ddd; */
  background: var(--TERTIARY-BG-COLOR);
  color: var(--PRIMARY-TXT-COLOR);
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* Cart total row */
.cart-summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 0.9rem;
}

/* Total value highlighted */
.cart-total {
  /* color: #0077cc; */
  font-size: 1.1rem;
}

.pay-cart {
    width: 100%;
    padding: 12px 24px;
    background: var(--PRIMARY-BTN-COLOR);
    color: var(--TERTIARY-TXT-COLOR);
    border: none;
    border-radius: 12px;
    font-weight: bold;
    cursor: pointer;
    letter-spacing: 1px;
    transition: background-color 0.8s ease;
}

.pay-cart:hover {
    background-color: var(--SECONDARY-BTN-COLOR);
    color: var(--PRIMARY-TXT-COLOR);
}

/* Cart item container */
.cart-product {
  display: flex;
  gap: 12px;
  padding: 24px;
  border-bottom: 1px solid var(--TERTIARY-BG-COLOR);
  color: var(--PRIMARY-TXT-COLOR);
  align-products: center;
  min-height: 100px;
}

/* Product image */
.cart-product-img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 12px;
  flex-shrink: 0;
}

/* Info column */
.cart-product-info {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* Action buttons */
.cart-product-actions {
    display: flex;
    gap: 6px;
    justify-content: flex-end;
}
.cart-product-actions button {
    width: 32px;
    height: 32px;
    text-align: center;
    border: none;
    background: var(--PRIMARY-BTN-COLOR);
    color: var(--TERTIARY-TXT-COLOR);
    font-weight: bold;
    transition: background-color 0.8s ease;
    border-radius: 50%;
    cursor: pointer;
}
.cart-product-actions button:hover {
    background-color: var(--SECONDARY-BTN-COLOR);
    color: var(--PRIMARY-TXT-COLOR);
}

.cart-product-name {
  font-size: 0.9rem;
  font-weight: bold;
  padding: 4px 0;
}

/* Total price */
.cart-product-total {
  font-size: 0.9rem;
  font-weight: bold;
  padding: 4px 0;
}
.cart-product-price-qty {
  font-size: 0.8rem;
  font-weight: normal;
}

/* SHOW CART*/
.shopping-cart.open{
    display: flex;
}

/* SHOP PRODUCTS */
.products-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 250px)); /* max 250px per card */
  /* justify-content: center; */
  justify-content: space-evenly;
  gap: 16px;
  padding: 16px;
  list-style: none;
  margin: 0;
}

/* Product card */
.product-card {
  width: 100%; /* will take full column width */
  max-width: 250px; /* limit to 250px on desktop */
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--TERTIARY-BG-COLOR);
  /* border: 1px solid #eee; */
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  border-radius: 8px;
  padding: 12px;
  text-align: center;
  color: var(--PRIMARY-TXT-COLOR);
  /* transition: transform 0.2s, box-shadow 0.2s; */
}

/* Image */
.product-img {
  width: 100%;
  aspect-ratio: 1 / 1; /* keeps a perfect square */
  object-fit: cover;
  border-radius: 6px;
  margin-bottom: 8px;
}

/* Name */
.product-name {
  font-size: 0.9rem;
  font-weight: bold;
  margin-bottom: 6px;
}

/* Price | Stock */
.product-price, .product-stock {
  font-size: 0.8rem;
  font-weight: bold;
  margin-bottom: 6px;
}

/* Buttons container */
.product-actions {
  display: flex;
  gap: 4px;
  width: 100%;
  justify-content: center;
}

/* Buttons */
.product-actions button {
  flex: 1;
  padding: 8px 12px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: bold;
  transition: background-color 0.8s ease;
  background: var(--PRIMARY-BTN-COLOR);
  color: var(--TERTIARY-TXT-COLOR);
  letter-spacing: 1px;
}

.product-actions button:hover {
  background-color: var(--SECONDARY-BTN-COLOR);
  color: var(--PRIMARY-TXT-COLOR);
}
.product-stock.unavailable ~ .product-actions button, .product-stock.unavailable ~ .product-actions button:hover{
    background-color: #b0b0b0;
    color: #fff;
    opacity: 0.7; 
    cursor: default;
}

.product-stock.unavailable > span{
  color: #D64545;
}
.product-stock.limited > span{
  color: #F4A300;
}
.product-stock.available > span{
  color: #3BA55C;
}

/* CART BUTTON */
.open-cart-btn {
  position: fixed;
  bottom: 20px;
    right: 20px;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: none;
    background: var(--PRIMARY-BTN-COLOR);
    color: var(--TERTIARY-TXT-COLOR);
    font-size: 1.5rem;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    z-index: 100;
    display: none;
    align-items: center;
    justify-content: center;
    transition: background-color 0.8s ease;
  }
  .open-cart-btn:hover {
    background-color: var(--SECONDARY-BTN-COLOR);
    color: var(--PRIMARY-TXT-COLOR);
}

/* POPUP */
.popup{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: red;
    padding: 15px 25px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.4);
    z-index: 999;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
}


@media (max-width: 767px) {
    .open-cart-btn {
        display: flex;
    }
  /* HIDE SHOP CONTENT and open btn*/
    .shopping-cart.open ~ .shop-content, .shopping-cart.open ~ .open-cart-btn{
        display: none;
    }
    
    /* .product-actions button {
        padding: 6px;
        font-size: 11px;
    } */
}

@media (min-width: 768px) {
    .shopping-cart {
        display: flex;
        position: fixed;
        right: 0;
        top: 80px;
        width: 300px;
        height: calc(100vh - 80px);
        border-left: 2px solid var(--TERTIARY-BG-COLOR);
    }

    .cart-header {
        justify-content: center;
    }

    #close-cart{
        display: none;
    }
    
    main {
        margin-right: 300px;
    }

    main.start .shopping-cart{
        top: 200px;
        max-height: calc(100vh - 200px);
    }

    footer{
        width: calc(100% - 300px);
    }

    .cart-product {
        min-height: 80px;
        padding: 8px;
    }

    .cart-product-actions {
      gap: 0;
    }
    .cart-product-actions button{
      scale: 0.8;
    }

    .cart-product-img {
        width: 60px;
        height: 60px;
        margin: auto;
    }
}