.shopping-cart{
    display: none;
    flex-direction: column;
    height: 100vh;
    max-height: calc(100vh - 80px);
}

.cart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 12px;
    background: var(--TERTIARY-BG-COLOR);
    color: var(--PRIMARY-TXT-COLOR);
}

#close-cart{
    font-size: 2rem;
    cursor: pointer;
}

#close-cart:hover{
    color: red;
}

.cart-container {
    flex: 1;
    overflow-y: auto;
    list-style: none;
    margin: 0;
}

.cart-container .connect-warn{
	color: var(--PRIMARY-TXT-COLOR);
	padding-top: 24px;
	text-align: center;
}

.cart-container .connect{
	width: 100%;
	min-height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 24px;
}

.cart-container .connect a{
    background-color: var(--PRIMARY-BTN-COLOR);
    color: var(--TERTIARY-TXT-COLOR);
    border-radius: 12px;
    padding: 12px 24px;
    font-weight: bold;
    transition: background-color 0.8s ease;
    letter-spacing: 1px;
}

.cart-container .connect a:hover{
    background-color: var(--SECONDARY-BTN-COLOR);
    color: var(--PRIMARY-TXT-COLOR);
}

.pay-container {
	padding: 12px;
	background: var(--TERTIARY-BG-COLOR);
	color: var(--PRIMARY-TXT-COLOR);
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.cart-summary {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-weight: bold;
	font-size: 0.9rem;
}

.cart-total {
  	font-size: 1.1rem;
}

.pay-cart {
    width: 100%;
    padding: 12px 24px;
    background: var(--PRIMARY-BTN-COLOR);
    color: var(--TERTIARY-TXT-COLOR);
    border: none;
    border-radius: 12px;
    font-weight: bold;
    cursor: pointer;
    letter-spacing: 1px;
    transition: background-color 0.8s ease;
}

.pay-cart:hover {
    background-color: var(--SECONDARY-BTN-COLOR);
    color: var(--PRIMARY-TXT-COLOR);
}

.cart-product {
	display: flex;
	gap: 12px;
	padding: 24px;
	border-bottom: 1px solid var(--TERTIARY-BG-COLOR);
	color: var(--PRIMARY-TXT-COLOR);
	align-items: center;
	min-height: 100px;
}

.cart-product-img {
	width: 80px;
	height: 80px;
	object-fit: cover;
	border-radius: 12px;
	flex-shrink: 0;
}

.cart-product-info {
	flex: 1;
	display: flex;
	flex-direction: column;
}

.cart-product-actions {
    display: flex;
    gap: 6px;
    justify-content: flex-end;
}

.cart-product-actions button {
    width: 32px;
    height: 32px;
    text-align: center;
    border: none;
    background: var(--PRIMARY-BTN-COLOR);
    color: var(--TERTIARY-TXT-COLOR);
    font-weight: bold;
    transition: background-color 0.8s ease;
    border-radius: 50%;
    cursor: pointer;
}
.cart-product-actions button:hover {
    background-color: var(--SECONDARY-BTN-COLOR);
    color: var(--PRIMARY-TXT-COLOR);
}

.cart-product-name {
	font-size: 0.9rem;
	font-weight: bold;
	padding: 4px 0;
}

.cart-product-total {
	font-size: 0.9rem;
	font-weight: bold;
	padding: 4px 0;
}

.cart-product-price-qty {
	font-size: 0.8rem;
	font-weight: normal;
}

/* SHOW CART*/
.shopping-cart.open{
    display: flex;
}

/* SHOP PRODUCTS */
.products-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(0, 250px));
	justify-content: space-evenly;
	gap: 16px;
	padding: 16px;
	list-style: none;
	margin: 0;
}

.product-card {
	width: 100%;
	max-width: 250px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: var(--TERTIARY-BG-COLOR);
	box-shadow: 0 4px 12px rgba(0,0,0,0.1);
	border-radius: 8px;
	padding: 12px;
	text-align: center;
	color: var(--PRIMARY-TXT-COLOR);
}

.product-img {
	width: 100%;
	aspect-ratio: 1 / 1;
	object-fit: cover;
	border-radius: 6px;
	margin-bottom: 8px;
}

.product-name {
	font-size: 0.9rem;
	font-weight: bold;
	margin-bottom: 6px;
}

.product-price, .product-stock {
	font-size: 0.8rem;
	font-weight: bold;
	margin-bottom: 6px;
}

.product-actions {
	display: flex;
	gap: 4px;
	width: 100%;
	justify-content: center;
}

.product-actions button {
	flex: 1;
	padding: 8px 12px;
	border: none;
	border-radius: 12px;
	cursor: pointer;
	font-size: 0.8rem;
	font-weight: bold;
	transition: background-color 0.8s ease;
	background: var(--PRIMARY-BTN-COLOR);
	color: var(--TERTIARY-TXT-COLOR);
	letter-spacing: 1px;
}

.product-actions button:hover {
	background-color: var(--SECONDARY-BTN-COLOR);
	color: var(--PRIMARY-TXT-COLOR);
}

.product-stock.unavailable ~ .product-actions button, .product-stock.unavailable ~ .product-actions button:hover{
    background-color: #b0b0b0;
    color: #fff;
    opacity: 0.7; 
    cursor: default;
}

.product-stock.unavailable > span{
  	color: var(--CUSTOM_RED);
}

.product-stock.limited > span{
  	color: var(--CUSTOM_YELLOW);
}

.product-stock.available > span{
  	color: var(--CUSTOM_GREEN);
}

/* CART BUTTON */
.open-cart-btn {
	position: fixed;
	bottom: 20px;
    right: 20px;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: none;
    background: var(--PRIMARY-BTN-COLOR);
    color: var(--TERTIARY-TXT-COLOR);
    font-size: 1.5rem;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    z-index: 100;
    display: none;
    align-items: center;
    justify-content: center;
    transition: background-color 0.8s ease;
}

.open-cart-btn:hover {
    background-color: var(--SECONDARY-BTN-COLOR);
    color: var(--PRIMARY-TXT-COLOR);
}

@media (max-width: 767px) {
    .open-cart-btn {
        display: flex;
    }

    .shopping-cart.open ~ .shop-content, .shopping-cart.open ~ .open-cart-btn{
        display: none;
    }
}

@media (min-width: 768px) {
    .shopping-cart {
        display: flex;
        position: fixed;
        right: 0;
        top: 80px;
        width: 300px;
        height: calc(100vh - 80px);
        border-left: 2px solid var(--TERTIARY-BG-COLOR);
    }

    .cart-header {
        justify-content: center;
    }

    #close-cart{
        display: none;
    }
    
    main {
        margin-right: 300px;
    }

    main.start .shopping-cart{
        top: 200px;
        max-height: calc(100vh - 200px);
    }

    footer{
        width: calc(100% - 300px);
    }

    .cart-product {
        min-height: 80px;
        padding: 8px;
    }

    .cart-product-actions {
      	gap: 0;
    }

    .cart-product-actions button{
      	scale: 0.8;
    }

    .cart-product-img {
        width: 60px;
        height: 60px;
        margin: auto;
    }
}