/* SHOP */
.shop-content{ 
    width: 100%;
    padding: 32px 24px; 
    display: flex;
    gap: 32px;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.product-container, .description-container, .description{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.product-container{
    flex: 1 1 250px;
    max-width: 250px;
    height: auto;
    background-color: var(--SECONDARY-BG-COLOR);
    padding: 12px;
    border-radius: 12px;
    color: var(--PRIMARY-TXT-COLOR);
    text-align: center;
}

.product-container img, .cart-product-container img{
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 12px;
}

.btns-container{
    width: 100%;
    display: flex;
    border-radius: 12px;
    overflow: hidden;
    gap: 8px;
}

.btns-container button{
    flex: 1;
    background-color: var(--PRIMARY-BTN-COLOR);
    color: var(--TERTIARY-TXT-COLOR);
    border: none;
    outline: none;
    padding: 12px;
    font-weight: bold;
    transition: background-color 0.8s ease;
    letter-spacing: 1px;
    cursor: pointer;
}

.btns-container button:hover{
    background-color: var(--SECONDARY-BTN-COLOR);
    color: var(--PRIMARY-TXT-COLOR);
}

/* SHOPING CART BTN */
.cart-btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    background-color: var(--PRIMARY-BTN-COLOR);
    color: var(--TERTIARY-TXT-COLOR);
    border-radius: 50%;
    border: 1px solid var(--PRIMARY-TXT-COLOR);
    position: fixed;
    bottom: 12px;
    right: 12px;
    z-index: 10;
    cursor: pointer;
    font-size: 20px;
}
.cart-btn-container:hover{
    transform: scale(1.1);
    font-size: 22px;
}

/* SHOPING CART */
.shopping-cart{
    display: none;
    flex-direction: column;
    width: 100%;
}

.shopping-cart.open{
    display: flex;
}

.cart-header{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    background-color: var(--TERTIARY-BG-COLOR);
    position: fixed;/* 22222222222222222222 */
}

.cart-header h2{
    font-weight: bold;
    text-align: center;
    width: 100%;
}

.cart-header span{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1rem;
    height: 1rem;
    position: absolute;
    right: 12px;
    font-size: 2rem;
    cursor: pointer;
}
.cart-header span:hover{
    color: #f00;
}

.buy-cart{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--PRIMARY-BTN-COLOR);
    color: var(--TERTIARY-TXT-COLOR);
    border: none;
    outline: none;
    padding: 12px;
    font-weight: bold;
    transition: background-color 0.8s ease;
    letter-spacing: 1px;
    cursor: pointer;
}

.buy-cart:hover{
    background-color: var(--SECONDARY-BTN-COLOR);
    color: var(--PRIMARY-TXT-COLOR);
}

.cart-content{
    text-align: center;
    padding: 12px 24px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    /* overflow-y: scroll; */
    margin-top: 50px;
}

.cart-product-container{
    max-height: 100px;
    max-width: 500px;
    display: flex;
    gap: 12px;
    border: 1px solid var(--PRIMARY-BORDER-COLOR);
    border-radius: 12px;
    overflow: hidden;
}


.cart-product-container img{
    max-width: 25%;
    border-radius: 0;
}

.cart-description-container{
    flex: 1;
}

.cart-btns-container{
    text-align: right;
    padding: 8px;
}

.cart-btns-container button{
    width: 24px;
    height: 24px;
}










@media (max-width: 767px) {.shopping-cart.open ~ .shop-content, .shopping-cart.open ~ .cart-btn-container{
    display: none;
  }


  /* CART OPEN */
  footer{
    display: none;
  }
  main{
    min-height: calc(100vh - 80px);
  }
}
@media (min-width: 768px) {

}